<!doctype html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body>
<div class="wrapper">
    <div class="sidebar" data-active-color="rose" data-background-color="black" data-image="/admin/assets/img/sidebar-1.jpg">
        <% include partials/logo %>
        <% include partials/sidebar %>
    </div>
    <div class="main-panel ps-container ps-theme-default ps-active-y" data-ps-id="d6d151d1-2a38-063b-4cfb-c5d8e40cb850">
        <% include partials/nav %>
        <% include product_content %>
        <% include partials/footer %>
    </div>
</div>
</body>
<% include partials/script %>

<script src="https://unpkg.com/vue"></script>
<script>
    // BEGIN: Lấy data từ back-end.
    var data = <%- JSON.stringify(data) %>;
    // : Lấy data từ back-end.END

    //console.log(data);
    var myApp = new Vue({
        el: '#myApp',
        data: {
            products: data
        }
    });
</script>
</html>
