<html>
<body>
<form action="/mongodb/create" method="post">
    <input type="text" name="name">
    <input type="number" name="price">
    <input type="number" name="discount">
    <input type="text" name="category">
    <button type="submit">Save</button>
</form>
</body>
</html>