<html>
<head>
    <title>Insert</title>
</head>
<body>

<form action="/mongodb/insert" method="post">
    <input type="text" name="category" placeholder="Category"/>
    <input type="text" name="name" placeholder="Name"/>
    <input type="number" name="price" placeholder="Price"/>
    <input type="number" name="discount" placeholder="Discount"/>
    <input type="submit" value="Save changes" name="submit"/>
</form>

</body>
</html>