<!doctype html>
<html lang="en">
<head>
    <% include partials/admins/head %>
</head>
<body>
<div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="/admins/assets/img/sidebar-1.jpg">
        <!--
            Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"
            Tip 2: you can also add an image using data-image tag
        -->
        <% include partials/admins/logo %>
        <% include partials/admins/sidebar %>
    </div>

    <div class="main-panel">
        <% include partials/admins/navigationbar %>
        <div class="content">
            <div class="container-fluid">
                <div id="myApp" class="row">
                    <div class="card">
                        <div class="card-header" data-background-color="purple">
                            <h4 class="title">Products</h4>
                            <p class="category">Products</p>
                        </div>
                        <div class="card-content table-responsive">
                            <table class="table">
                                <thead class="text-primary">
                                <th>Id</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Discount</th>
                                </thead>
                                <tbody>
                                <tr v-for="p in products">
                                    <td>{{ p.id }}</td>
                                    <td>{{ p.name }}</td>
                                    <td>{{ p.price }}</td>
                                    <td>{{ p.discount }}</td>
                                </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include partials/admins/footer %>
</div>
</div>

</body>
<% include partials/admins/script %>
<script src="https://unpkg.com/vue"></script>
<script>
    // BEGIN: Lấy data từ back-end.
    var data = <%- JSON.stringify(data) %>;
    // : Lấy data từ back-end.END

    //console.log(data);
    var myApp = new Vue({
        el: '#myApp',
        data: {
            products: data
        }
    });
</script>

</html>
