<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body style="background-color: #3e8f3e">

<h2>New Product List</h2>

<div class="row">
    <div>
        <h2>
            <%= name %>
        </h2>
        <h4>
            <%= price %>
        </h4>
        <div>
            <%= discount %>
        </div>
    </div>
</div>
</body>
</html>
