<div class="page-header header-filter clear-filter" data-parallax="active" style="background-image: url('/site/assets/img/bg0.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="brand">
                    <h1>Material Kit
                        <div class="pro-badge">
                            Pro
                        </div>
                    </h1>

                    <h3 class="title">Start Your Development With A Badass Bootstrap UI Kit inspired by Material Design.</h3>
                </div>
            </div>
        </div>
    </div>
</div>