<div class="section section-pricing pricing-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h2 class="title">Ready to grab Material Kit PRO?</h2>
                <ul class="nav nav-pills nav-pills-rose" role="tablist">
                    <li class="active">
                        <a href="#personal" role="tab" data-toggle="tab">
                            Personal License
                        </a>
                    </li>
                    <li>
                        <a href="#commercial" role="tab" data-toggle="tab">
                            Developer License
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-8 col-md-offset-2">
                <div class="tab-content tab-space">
                    <div class="tab-pane fade in active" id="personal">
                        <p class="description">
                            Good for personal websites, school projects, startups or any other project where your users will not be charged for using it. Create one single website/app for one client.
                        </p>

                        <div class="col-md-6">
                            <div class="card card-pricing card-margin">
                                <div class="content">
                                    <h6 class="category">HTML Package</h6>
                                    <h1 class="card-title">
                                        <small>$</small>
                                        79
                                    </h1>
                                    <ul>
                                        <li><b>HTML/CSS/JS/SASS</b> Files</li>
                                        <li><b>Fully Coded</b> Components</li>
                                        <li><b>Responsive</b> Design</li>
                                        <li>Product<b> Documentation</b></li>
                                    </ul>
                                    <a href="http://www.creative-tim.com/buy/material-kit-pro?license=1" class="btn btn-rose btn-round">
                                        Buy Now!
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="card card-pricing">
                                <div class="content">
                                    <h6 class="category">HTML &amp; Photoshop Package</h6>
                                    <h1 class="card-title">
                                        <small>$</small>
                                        139
                                    </h1>
                                    <ul>
                                        <li><b>HTML/CSS/JS/SASS</b> Files</li>
                                        <li><b>Fully Coded</b> Components</li>
                                        <li><b>Responsive</b> Design</li>
                                        <li>Product<b> Documentation</b></li>
                                        <li><b>+ Photoshop</b> Files</li>
                                        <li><b>+ Components</b> on Layers</li>
                                    </ul>
                                    <a href="http://www.creative-tim.com/buy/material-kit-pro?license=1&amp;package=3" class="btn btn-rose btn-round">
                                        Buy Now!
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="tab-pane fade" id="commercial">
                        <p class="description">
                            Good for business projects, multiple websites for clients or for creating themes where your users will be charged for using it. Create multiple websites/apps for multiple clients.
                        </p>

                        <div class="col-md-6">
                            <div class="card card-pricing card-margin">
                                <div class="content">
                                    <h6 class="category">HTML Package</h6>
                                    <h1 class="card-title">
                                        <small>$</small>
                                        319
                                    </h1>
                                    <ul>
                                        <li><b>HTML/CSS/JS/SASS</b> Files</li>
                                        <li><b>Fully Coded</b> Components</li>
                                        <li><b>Responsive</b> Design</li>
                                        <li>Product<b> Documentation</b></li>
                                    </ul>
                                    <a href="http://www.creative-tim.com/buy/material-kit-pro?license=2" class="btn btn-rose btn-round">
                                        Buy Now!
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="card card-pricing">
                                <div class="content">
                                    <h6 class="category">HTML &amp; Photoshop Package</h6>
                                    <h1 class="card-title">
                                        <small>$</small>
                                        599
                                    </h1>
                                    <ul>
                                        <li><b>HTML/CSS/JS/SASS</b> Files</li>
                                        <li><b>Fully Coded</b> Components</li>
                                        <li><b>Responsive</b> Design</li>
                                        <li>Product<b> Documentation</b></li>
                                        <li><b>+ Photoshop</b> Files</li>
                                        <li><b>+ Components</b> on Layers</li>
                                    </ul>
                                    <a href="http://www.creative-tim.com/buy/material-kit-pro?license=2&amp;package=3" class="btn btn-rose btn-round">
                                        Buy Now!
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-8 col-md-offset-2 text-center">
                <p class="description">You have <b>Free Unlimited Updates</b> and <b>Premium Support</b> on each package. You also have <b>30 days</b> to request a refund if you're not happy with your purchase.</p>

            </div>


        </div>

    </div>

    <div class="social-line text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="title">Thank you for sharing!</h4>
                </div>
                <a href="#pablo" id="twitter" class="btn btn-twitter btn-round sharrre">
                    <i class="fa fa-twitter"></i> Twitter
                </a>
                <a href="#pablo" id="facebook " class="btn btn-facebook btn-round">
                    <i class="fa fa-facebook-square"></i> Facebook
                </a>
                <a href="#pablo" id="google" class="btn btn-google btn-round sharrre">
                    <i class="fa fa-google-plus"></i> Google
                </a>
            </div>
        </div>
    </div>


</div>