<div class="sidebar-wrapper">
    <ul class="nav">
        <li class="active">
            <a href="dashboard.html">
                <i class="material-icons">dashboard</i>
                <p>Dashboard</p>
            </a>
        </li>
        <li>
            <a href="/product">
                <i class="material-icons">person</i>
                <p>Products</p>
            </a>
        </li>
    </ul>
</div>