<div class="logo">
    <a href="http://www.creative-tim.com" class="simple-text">
        CREATIVE TIM
    </a>
</div>
<div class="logo logo-mini">
    <a href="http://www.creative-tim.com" class="simple-text">
        Ct
    </a>
</div>